{
  "presets": [
    "@babel/env",
    "@babel/typescript",
    "@vue/babel-preset-jsx"
  ],
  "plugins": [
    ["@babel/proposal-decorators", { "legacy": true }],
    "@babel/syntax-dynamic-import",
    "@babel/proposal-class-properties"
  ],
  "comments": false,
}
